body {
    background-color:beige;
    overflow-x: hidden;
}
#barra-de-acoes {
    position: sticky;
    top: 5px;
    width: 1280px;
    height: 150px;
    background-color: black;
    border-radius: 7px;
}
#barra-de-acoes p{
    color: aliceblue;
    position: relative;
    left: 170px;
    font-size: 50px;
    padding: 0 30px;
    margin: 0px;
}
#barra-de-acoes img{
    position: fixed;
    top: 10px;
    left: 50px;
    width: 150px;
}
#container {
    z-index: 1;
    position: fixed;

}
#container a{
    z-index: 0;
    height: 17px;
    min-width: 150px;
    display: inline-block;
    position: relative;
    left: 205px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(0, 0, 0)255, 255, 255;
    color: aliceblue;
}
#workHover a{
    display: block;
    padding: 2.5px 8px;
}
#workHover{
    visibility: visible;
    position: relative;
    top: 40px;
    left: 185px;
    color: rgb(0, 0, 0);
    width: 150px;
    border-radius: 7px;
    background-color: rgb(206, 76, 76);
}
#projectsHover{
    display: block;
    padding: 2.5px 8px;
}
#projectsHover{
    visibility: hidden;
    position: relative;
    bottom: 50px;
    left: 350px;
    color: rgb(0, 0, 0);
    width: 150px;
    border-radius: 7px;
    background-color: rgb(206, 76, 76);
}
#instaIcon{
    bottom: 0px;
    left: 1300px;
    position: sticky;
    width: 50px;
}
#pfp2{
    width: 1000px;
}
