
    body {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 100px);
      gap: 10px;
      height: 300px;
      padding: 10px;
      background-color: yellow;
    }
  
    .black {
      background-color: black;
      grid-area: black;
      border: 1px solid blue;
    }
  
    .white {
      background-color: white;
      grid-area: white;
    }
  
    /* Grid layout before 1024px */
    @media (max-width: 1024px) {
      body {
        grid-template-areas:
          "black black . ."
          "black black . ."
          ". white white white";
      }
    }
  
    /* Grid layout from 1024px */
    @media (min-width: 1024px) {
      body {
        grid-template-areas:
          "black black black black"
          ". . . ."
          "white white white white";
      }
    }
  
